:host {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.webphone-container {
  width: fit-content;
  height: 733px;
  overflow: hidden;
}

#fc-webphone-iframe {
  margin-top: -30px;
  scale: 0.87;
  height: 100%;
  min-width: 414px;
  border: 1px solid black;
  border-radius: 10px;
}
